

html{
	height:100%;
}

body{
/*	background-image: url('../image/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;*/
	font-family:Avenir, sans-serif;
	height:100%;
	margin:0;

}

.container {
    max-width: 85%;
    margin: 0 auto;
}




.background{
  background: url('../image/bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.body-content{
  padding-top:50px;
  padding-bottom:400px;
	text-align:center;
}

.body h1{
   margin-top: 100px;
   color:#ffffff;
   text-align: center;
   font-size: 60px;
   font-weight: 800;
   letter-spacing: 2px;
   text-shadow:1px 2px 0 rgba(0,0,0,0.3);

}

.body h2{
   color:#ffffff;
   text-align: center;
   font-weight:100;
   font-size: 18px;
   letter-spacing: 1.2px;
   margin-top: -30px;  
}


.body p{
   color:#ffffff;
   text-align: center;
   font-weight:600;
   letter-spacing: 1px;
   margin-top: 50px;
   border-bottom: 500px;
   line-height: 20px;
}



.explore{
  text-align: center;
}

.body a.main-button{
    position:absolute;
    margin-left:-84px;
    margin-top:-380px;
	  color:#54c2bf;
	  text-decoration:none;
    font-weight:900;
    letter-spacing: 2px;
    background-image: url('../image/button1.png');background-repeat: no-repeat;
	  /*background-color: #ece012;*/
	  /*padding:9px 50px;*/
    padding-top:6px;
    padding-bottom:7px;
    padding-left: 35px;
    padding-right:70px;
    
}
.body a.main-button:hover{
	background-image: url('../image/button2.png');background-repeat: no-repeat;
	color:#ffffff;
}

#sc{
  margin-top:15px;
}

.header{
  z-index: 100;
  /*position:absolute;*/
  margin-top: 0px;
  background-color: white;
  height:127px;
  width: 100%;
  box-shadow:1px 1px 8px rgba(0,0,0,0.2);
}
.menu-icon{
  display:none;
}
.fixed-top{
  position:fixed;
  top:0;
}

.flex{
  display:flex;
}

.space-between{
  justify-content:space-between; /*nav space*/
}



.nav a{
  text-decoration: none;
  display:block;
  float:left;
  text-align: center;
  color:#000;
  font-weight:900; 
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 30px;
  transition: .3s ease-in-out;
}

.nav a:hover {
    color:#54c2bf;
}

.nav a:hover img {
  position:relative;
  bottom:5px;
}


.bg2{
  background: url('../image/bg1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg2Btn{
  padding-top:500px;
  padding-bottom:800px;
  text-align: center;
}

a.SecBtn{
    color:#ffffff;
    font-size: 20px;
    text-decoration:none;
    font-weight:900;
    letter-spacing: 2px;
    background-color: #43a78b;
    border:3px solid #fff;
    padding:22px 46px;
    box-shadow:2px 2px 3px rgba(0,0,0,0.3);
    text-shadow:1px 2px 0 rgba(0,0,0,0.3);
}

.body a.SecBtn:hover{
   opacity: 0.8;
}



.books a{
  width:40px;
  margin:30px;
  /*padding:20px 30px;*/
  background-color: #d3d3d3;

}


/*Publications*/
.publications
{
  text-align: center;
}

.book h4{
  /*position:absolute;*/
  text-align: center;
  margin-top: 20px;
  color:#3a3a3c;
  letter-spacing: 1.5px;
  font-size: 25px;
  margin-bottom: -17px;
}

.row{
  position: relative;
  display: inline-block;
  float: left;
  width: 31%;
  padding: 10px;
  margin-top: 20px;
  overflow: hidden;
  vertical-align:top;
  
}
.row:last:child{
  float: right;
}

.row img{
  margin-top: 20px;
  margin-left: 30px;
}


figure img {
  display: block
}


.overlay {
  position: absolute;
  margin-top: 28px;
  top: 65%; left:20%; right: 15%; bottom: 0%;
  height: 54%;
  background: rgba(0,0,0,.6);
  opacity: 0;
}
.overlay, .overlay span {
  transition: top .5s, opacity .7s, margin-top .8s;
}

.overlay {
  padding-top:125px;
}

.overlay span {
  display: inline-block;
  height:50px;
  /*padding: 3px 3px;*/
  margin-top: 100px; /* for the animation */
  color: #F2F2F2;
  letter-spacing: 2px;
  border: 3px solid #fff;
  background-color: #54c2bf;
  padding:4px 35px;
  text-decoration: none;
  box-shadow:2px 2px 3px rgba(0,0,0,0.3);
  font-size: 20px;
  font-weight: bold;
  word-wrap:break-word;
  line-height: 1;
  opacity: 0;
}

a.overlay span:hover{
  color:rgba(255,255,255,0.8);
  background-color: #48a7a4;
  border: 3px solid rgba(255,255,255,0.8);
}

.overlay span:before {
  content: "";
  display:inline-block;
  vertical-align: middle;
  height: 100%;
  width: 1px;
}
.row:hover .overlay,
.overlay:focus {
  top: 0;
  opacity: 1;
}
.row:hover .overlay span,
.overlay:focus span {
  opacity: 1;
  margin-top: 0; /* for the animation */
}
/*.row img{
  width: 60%;
   border-style: solid;
  border-color: #d3d3d3;
  border-width: 20px;
  box-shadow: 5px 5px 1px #000;
}*/

a.Btn{

  text-decoration: none;
  color:#54c2bf;
  background-color:#ece012;
  font-size: 19px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px;
/*  position:absolute;
  width:20%;*/
  background-color:#ece012;
/*  margin-left: -152px;
  margin-top: 30px;*/
  box-shadow:2px 2px 3px rgba(0,0,0,0.3);
  /*text-align: center;*/
}

a.Btn:hover{
  background-color:#fcca33;
  color:#fff;
}

.wrapper{
  text-align: center;
  margin-top: 35px;
}

/*Clear fix*/
.group::after
{
  content: " ";
  display: table;
  clear: both;
}

/*FOOTER*/
.footer{
  text-align: center;
  height:409px;
  margin-top: 100px;
  background-color:#4bbe9e;
}

.icon{
  padding-top: 35px;
}

.connect{
  padding-top: 20px;
  color:#fff;
  font-size: 18px;
  font-weight:600;
  letter-spacing: 1px;
}

.inputForm{
  float: left;
  margin-top: 15px;
  margin-left:280px;
  width: 20%;
  
}

.inputForm input{
    width: 450px;
    height:34px;
    border: 1px solid #aeaeae;
}

.send{
  position: absolute;
  color:#fff;
  font-size: 15px;
  font-weight:400;
  letter-spacing: 2px;
  text-decoration: none;
  background-color: #707070;  
  padding:9px 60px;
  margin-top:14.5px;

  margin-left:-145px;  
}

.send:hover{
  color:#dbdbdb;
  background-color: #898989;
}

.quicklinks{
  padding-top: 86px;
  color:#fff;
  font-size: 18px;
  font-weight:600;
  letter-spacing: 1px;
}

.link{
  text-align:center;
   color:#fff;
   font-size: 18px;
   font-weight:400;
   letter-spacing: 1px;
   text-decoration: none;
   padding: 30px;
   padding-top:10px;
   padding-bottom:2px;
   border-bottom: 4px solid transparent;

}

a.link:hover{
   border-bottom: 4px solid #ffffff;
   width:13px;
}


.sharethewebsite{
  padding-top: 22px;
  color:#fff;
  font-size: 18px;
  font-weight:600;
  letter-spacing: 1px;
}

.sociallinks{
  padding:5px;
  padding-top:15px;
  padding-bottom:2px;
  border-bottom: 4px solid transparent;
}

a.sociallinks:hover{
  border-bottom: 4px solid #ffffff;
  width:10px;
}

/*===========Tablet==========*/

@media (max-width:770px){
.background{
  width:100%;
}
#sc{
  margin-top:0px;
}

.row{
  position: relative;
  display: inline-block;
  float: left;
  width: 100%;
  margin-left: 110px;
}
.row:last:child{
  float: right;
}

.row img{
  margin-top: 20px;
  margin-left: 30px;
}

.overlay {
  position: absolute;
  margin-top: 28px;
  top: 65%; left:12%; right: 49%; bottom: 0%;
}

.inputForm{
  float: left;
  margin-top: 15px;
  margin-left:0px;
  width: 0;
  
}
.send{
  margin-left:150px;
  
}
.link{
   padding: 10px;
}

}

/*===========Mobo==========*/

@media (max-width:400px){

.body-content{
  padding-top:30px;
  padding-bottom:200px;
  }

.body h1{
   margin-top: 20px;
   margin-left: -10px;
   color:#ffffff;
   text-align: center;
   font-size: 26px;
   font-weight: 800;
   letter-spacing: 2px;
   text-shadow:1px 2px 0 rgba(0,0,0,0.3);

}

.body h2{
   color:#ffffff;
   text-align: center;
   font-weight:100;
   font-size: 14px;
   letter-spacing: 1.2px;
   margin-top: 0px;  
}

.body-content img{
  width:8%;
  height:20%;
}

.body p{
 display: none;
}

.body a.main-button{
    position:absolute;
    margin-left:-85px;
    margin-top:-150px;
}
#sc{
  margin-top:0px;
}



.menu-icon{
  display:block;
  float:right;
  font-size:36px;
  color:#42a78b;
  position:relative;
  top:3px;
  cursor:pointer;
 }
 .header{
  max-height:60px;
  background-color:#fff;
  box-shadow:2px 2px 3px rgba(0,0,0,0.3);
 }

 .flex{
  display: block;
 }
 .nav{
  display:none;
  float:right;
  margin-top:10px;
  position:relative;
  background-color:#fff;
  margin-right:-30px;
  width:118%;
  height:100%;
  opacity:1;
  z-index:100;
  box-shadow:2px 2px 3px rgba(0,0,0,0.3);
 }

 .nav.shown{
  opacity:1;
  z-index:100;
  display: block;
 }
 .nav a {
  float:none;
  border-bottom:1px solid #C5C2C2;
  margin:0;
  padding:10px;
  transition: .3s ease-in-out;
 }

.bg2Btn{
  padding-top:150px;
  padding-bottom: 150px;
  text-align: left;
}
.bg2 a{
  margin-left:70px;
}

a.SecBtn{
 padding:20px 10px;
 margin-right: -300px;
 font-size: 15px;
}

.book img{
 display:none;
}
.row{
 margin-left: -40px;
}
.overlay{
    left: 79px;
    right: 5%;
}
.footer{
  height:100%;
}

.inputForm{
    margin-left: -16px;
}
.inputForm input, textarea{
    width: 368px;
}
.send{
    margin-left: -83px;
    margin-top: 68.5px;
}
.quicklinks{
    padding-top: 122px;
}
.link{
    padding: 0px 3px;
    line-height: 45px;
}

}